__pycache__/
*.pyc
*.pyo
*.pyd
.dist/
build/
*.egg-info/
.venv/
.env/
.ipynb_checkpoints/
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.tags
coverage-junit-*.xml
coverage-report-*.xml
flake8-output.txt

#IDE
.idea/
.vscode/settings.json